.dropdown-menu {
  background-color: #212529;
}

.dropdown-item {
  color: white;
}

.jumbotron {
  padding-top: 6rem;
  background-image: url(./img/background2.jpg);
  background-size: cover;
  color: #e2edff;
  text-shadow: 2px 2px 2px black;
}

#about {
  background-image: url(./img/quino-al-mBQIfKlvowM-unsplash.jpg);
  background-size: cover;
  margin-top: -1rem;
}

#about .container {
  color: white;
  margin-top: -60px;
}

#lihat {
  background-image: url(./img/lukasz-szmigiel-jFCViYFYcus-unsplash.jpg);
  background-size: cover;
  margin-top: -3rem;
}

#lihat .container {
  margin-top: -2rem;
}

#about h3 {
  margin-top: -15px;
}

#projects {
  background-image: url(./img/background.jpg);
  background-size: cover;
}

#contact {
  background-image: url(./img/background3.jpg);
  background-size: cover;
}

#video {
  background-image: url(/img/background2.jpg);
  background-size: cover;
}

/* #projects img {
  border-radius: 20pt;
  -webkit-border-radius: 20pt;
  -moz-border-radius: 20pt;
  -ms-border-radius: 20pt;
  -o-border-radius: 20pt;
} */

section {
  padding-top: 5rem;
}

footer a {
  text-decoration: none;
}

.now {
  height: 350px;
}

.old {
  height: 470px;
}
