@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Mochiy+Pop+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap');
.dropdown-menu {
    background-color: #212529;
}

.dropdown-item {
    color: #FAC213;
}

.nav-link {
    text-transform: uppercase;
    color: #FAC213 !important;
}

.logo-satu {
    font-family: 'Henny Penny', cursive;
    color: #37E2D5;
}

.logo-dua {
    font-family: 'Henny Penny', cursive;
    color: #FAC213;
}

#home,
#old,
#now,
#with-friends,
#karya {
    background-image: url(/img/bg.webp);
    background-size: cover;
    font-family: 'Secular One', sans-serif;
    padding: 0;
    margin: 0;
    color: white;
}

.jumbotron {
    padding-top: 6rem;
}

.jumbotron img {
    border: 2px solid #FAC213;
}

#about {
    margin-top: -1rem;
}

#about .container {
    color: white;
    margin-top: -60px;
}

#lihat {
    margin-top: -3rem;
}

#lihat .container {
    margin-top: -2rem;
}

#about h3 {
    margin-top: -15px;
}

section {
    padding-top: 5rem;
}

footer a {
    text-decoration: none;
}

.now {
    height: 350px;
}

.old {
    height: 470px;
}

.card,
.row img {
    border: 2px solid white;
}

.card {
    background: transparent;
    transition: .5s all ease-in-out;
    -webkit-transition: .5s all ease-in-out;
    -moz-transition: .5s all ease-in-out;
    -ms-transition: .5s all ease-in-out;
    -o-transition: .5s all ease-in-out;
    height: 200px;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
}

.card h3 {
    padding-top: 1rem;
    font-family: 'Mochiy Pop One', sans-serif;
}

.card .btn {
    background: white;
    color: black;
    transition: .3s all ease-in-out;
    -webkit-transition: .3s all ease-in-out;
    -moz-transition: .3s all ease-in-out;
    -ms-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    padding: .6rem 3rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    font-family: 'Secular One', sans-serif;
}

.card:hover {
    background-color: black;
}

.btn:hover {
    letter-spacing: 0.3rem;
    background-color: transparent;
    color: white;
    border: 2px solid white;
}

h2 a i {
    color: white;
    font-size: larger;
}

h2 a .fa-tiktok:hover {
    color: black;
}

h2 a .fa-facebook:hover {
    color: rgb(25, 104, 223);
}

h2 a .fa-instagram:hover {
    color: rgb(240, 43, 17);
}

h2 a .fa-github:hover {
    color: black;
}

h2 a .fa-telegram:hover {
    color: rgb(11, 46, 243);
}

h2 a .fa-twitter:hover {
    color: rgb(29, 185, 206);
}

img {
    transition: .5s all ease-in-out;
    -webkit-transition: .5s all ease-in-out;
    -moz-transition: .5s all ease-in-out;
    -ms-transition: .5s all ease-in-out;
    -o-transition: .5s all ease-in-out;
}

img:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.card-other {
    height: 400px;
}


/* footer style */

footer p .bi-heart-fill {
    color: white;
}

footer p .bi-heart-fill:hover {
    color: red;
    cursor: pointer;
}

footer p {
    text-transform: uppercase;
}